@font-face {
  font-family: Bebas;
  src: url(/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Bebaslight;
  src: url(/FiraSansCondensed-Light.ttf);
}

* {
  margin: 0;
  max-width: 100vw;
  box-sizing: border-box;
}

.backgroundimage {
  background-image: url(Fotos_website/achtergrond.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e8ded1;
}

H1,
H2,
H3,
a {
  color: #8e7a65;
  font-family: "Bebas", Times, serif;
}

.indexheading {
  font-size: 50px;
  margin: 0;
}

h1:not(.indexheading) {
  width: 100vw;
  padding: 2vw;
  text-align: center;
  font-size: 4em;
}

p {
  color: #8e7a65;
  font-family: "Bebaslight", Courier, monospace;
}

 .nav {
  display: block;
  background-color: #e8ded1;
  width: 100vw;
  list-style-type: none;
}


.nav li {
  display: inline-block;
}

.nav li a {
  text-align: center;
  color: #8e7a65;
  padding: 16px;
  display: block;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #d1c0a8;
}

.shadow {
  -webkit-box-shadow: 0px 35px 106px -11px rgba(69, 30, 8, 0.58);
  -moz-box-shadow: 0px 35px 106px -11px rgba(69, 30, 8, 0.58);
  box-shadow: 0px 35px 106px -11px rgba(69, 30, 8, 0.58);
}

.containerblocks {
  display: flex;
  width: 90vw;
  gap: 5vw;
  margin: 10vh;
}

.containerblocks h2 {
  margin-bottom: 2vw;
}

.block {
  width: 100%;
  background-color: #f0e9e1;
  -webkit-box-shadow: 10px 10px 23px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 23px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 23px -10px rgba(0, 0, 0, 0.25);
  padding: 2em;
}

.block:hover {
  background-color: #8e7a65;
  transition: background-color 0.7s ease;
}

.block p {
  color: #f0e9e1;
}

.block:hover h2 {
  color: #f0e9e1;
}

.myworkindex {
  text-align: center;
}

.startingdesigner {
  display: flex;
  flex-direction: row;
  background-color: #e3d9ca;
  padding: 7vw;
  margin-top: 50vw;
}

.textintro {
  text-align: center;
  padding: 30px;
}

.textintro p {
  padding: 10px;
  padding-right: 12vw;
  padding-left: 12vw;
}

.textstartingdesigner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abtmelink {
  background-color: #ebe3d9;
  text-align: center;
  padding: 10px;
  color: #8e7a65;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  border-left: 5px solid;
}

.abtmelink:hover {
  background-color: #d1c0a8;
  transition: background-color 0.3s ease;
}

.checkoutmywork {
  display: flex;
  background-color: #ebe3d9;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.checkoutmywork h3,
p {
  text-align: center;
}

.buttonwork {
  font-size: 100px;
}

.buttonwork a:hover {
  color: #fff;
  box-shadow: inset 500px 0 0 0 #d1c0a8;
}

.buttonwork a {
  transition: color 0.5s ease-in-out, box-shadow 0.8s ease-in-out;
  color: #8e7a65;
  text-decoration: none;
}

.checkoutmywork {
  padding: 11vw 15vw 11vw 15vw;
}

.contactpage {
  display: flex;
  align-items: center;
}

.scrollcontainer {
  background-color: #f0e9e1;
  overflow: auto;
  white-space: nowrap;
  padding: 3vw;
  margin: 3vw;
}

.buttonwithphoto {
  display: flex;
  flex-direction: column;
  row-gap: 3vw;
  align-items: center;
}

.buttoninstagram {
  background-color: #ebe3d9;
  text-align: center;
  padding: 10px;
  color: #8e7a65;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: max-content;
}

.buttoninstagram:hover {
  background-color: #e3d9ca;
}

.photomobile {
  display: flex;
  justify-content: center;
}

Footer {
  background-color: #f0e9e1;
  height: 7vw;
  padding: 2vw;
  font-family: "Bebaslight", Courier, monospace;
  color: #8e7a65;
 
}

.footerlijst {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  margin-right:2em;
  }

.footerlijst a {
  font-family: "Bebaslight", Courier, monospace;
  text-decoration: none;
}
  
.footerlijst li {
  display: inline-block;
  padding: 0px 20px 20px 20px;
}

.footerlijst li a:hover {
  color:#2f2922;
}